img
{
    max-width: 100%;
    vertical-align: middle;
}
a
{
    img
    {
        display: block;
        max-width: 100%;
          &:hover,&:focus
          {
            opacity: 0.8;
          }
    }
}